
input{
  padding: 10px;
  padding-left: 30px;
}
body{
  justify-content: center;
}
button{
  color: #646cff;
  border: 10px solid #646cff;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}